<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NewLife.Core" version="7.4.6881.41311" targetFramework="net46" />
  <package id="NewLife.Net" version="3.3.6871.979" targetFramework="net46" />
  <package id="NewLife.XCode" version="9.9.6881.41312" targetFramework="net46" />
  <package id="NewLife.XTemplate" version="2.0.6700.37161" targetFramework="net40" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net40" />
</packages>