<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NewLife.Core" version="7.0.6712.2419" targetFramework="net46" />
  <package id="NewLife.Net" version="3.2.6700.37161" targetFramework="net46" />
  <package id="NewLife.XCode" version="9.7.6712.2420" targetFramework="net46" />
  <package id="NewLife.XTemplate" version="2.0.6700.37161" targetFramework="net46" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net40" />
</packages>