name: publish

on:
  push:
    tags: [ v* ]
  workflow_dispatch:

jobs:
  build-publish:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup dotNET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          6.x
          7.x
          8.x
          9.x
          10.x
    - name: Build
      run: |
        dotnet build --version-suffix $(date "+%Y.%m%d") -c Release -o out XCoder/CrazyCoder.csproj
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: Upload
        path: .\out
